@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Armenian:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');
#zibil {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    margin: 5px;
    padding: 10px;
    text-align: center;
    align-content:center;
}

#title {
    font-family: Arial, sans-serif;
    font-size: 41px;
    align-content: center;
    margin: 0;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: 'Sulphur Point', sans-serif;
}
#image {
    display: inline;
    max-height: 100%;
    margin-left: 600px;
    padding-top: 10px;
}



.folder {
    margin-bottom: 10px;
}

.folder-btn {
    background: transparent;
    color: white;
    border: 0.5px solid #ccc;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
}

.folder-btn:hover {
    background: transparent;
    color: #15f705;
    border-color: #15f705;
    text-decoration: none;
}

.folder-content {
    margin-right: 100px;
    margin-left: 100px;
    display: none;
    padding: 10px;
    /*border: 1px solid #ccc;
    border-radius: 35px;
    border-bottom-width: 5px;*/
    margin-top: 5px;
}


#h1 {
    font-size: 75px;
    /*text-decoration: underline;*/
    margin-bottom: 20px;
    color: white;
    font-family: 'Sulphur Point', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

.li {
    list-style-type: armenian;
    margin-bottom: 10px;
    margin-left: 600px;
    margin-right: 600px;
    background: transparent;
    color: #15f705;
    border-color: #15f705;
    
}


.a {
    font-family: 'Sulphur Point', sans-serif;
    font-family: 'Noto Serif Armenian', serif;
    text-decoration: blink;
    padding: 5px 10px;
    display: inline-block;
    background: transparent;
    color: white;
    border: 0.5px solid #ccc;
    border-radius: 0px;
    cursor: pointer;
}

a:hover {
    background: transparent;
    color: #15f705;
    border-color: #15f705;
}

a:active {
    background: transparent;
    color: #15f705;
    border-color: #15f705;
    background-color: #15f705;
}



.whiteH2{ 
    color: #ffffff;
    font-family: 'Noto Serif Armenian', serif;
}


.whiteP{
    font-family: 'Sulphur Point', sans-serif;
    color: #ffffff;
    /*text-decoration: underline;*/
    /*border: 1px solid #ccc;*/
    /*text-decoration: underline;*/
    margin-right: 600px;
    margin-left: 600px;

}

#hr{
    color:white;
}